<!DOCTYPE html>
<html>
  <head>
    <script data-main="/javascripts/tesla/tesla" src="/javascripts/require.js"></script>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/company.css' /> 
  </head>
  <body>
      <div id="faceThumbnailEffect"></div>
  </body>
</html>
