<!DOCTYPE html>
<html>
  <head>
    <script data-main="/javascripts/tesla/tesla" src="/javascripts/require.js"></script>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/company.css' /> 
    <link rel='stylesheet' href='/stylesheets/d3.slider.css' /> 

    <script src='/jquery/jquery-2.1.0.min.js'></script>
    <link rel='stylesheet' href='/bootstrap/css/bootstrap.min.css' />

    <link rel='stylesheet' href='/javascripts/jsoneditor/jsoneditor-min.css' />  

    <style>
      #jsoneditor {
        width: 500px;
        height: 500px;
        position: absolute;
/*        left:50px;
        top: 50px;*/
      }
    </style>

  <!--   <script type="text/javascript" src="/javascripts/jsoneditor/jsoneditor-min.js"></script> -->
 </head>
  <body>
      <div id="faceThumbnailEffect"></div>
      <div id="jsoneditor"></div>
  </body>
</html>
