<!DOCTYPE html>
<html>
  <head>
    <script data-main="/javascripts/company" src="/javascripts/require.js"></script>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/company.css' /> 
  </head>
  <body>
    <div id="chart" style="width:960px;margin:0 auto;"></div>
  </body>
</html>
