<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <div class="stocklist">
      <div class="buttonstock">TSLA</div>
      <div class="buttonstock">SCTY</div>
      <div class="buttonstock">APPL</div>
      <div class="buttonstock">JNJ</div>
      <div class="buttonstock">SAN</div>
      <div class="buttonstock">SPY</div>

    </div>
  </body>
</html>
